/*
Color Pallete (from darker to lighter)

1d3557
457b9d
a8dadc
f1faee
e63946
*/

/*CSS RULES RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END OF CSS RESETING*/




* {
    box-sizing: border-box;
}

html, body {
    background: #1d3557;
    max-width: 100vw;
    font-family: 'Merriweather', serif;
    
    /*overflow-x: hidden;*/
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

nav {
    
    align-items: center;
    display: flex;
}



header h1 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4vh;
    color: #E5E9F0;
    align-items: center;
    display: flex;
    margin-left: 2vw;
    width: 50%;
} 

nav {
    width: 50%;
}

nav ul {
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 2vw;
}

nav li a {
    margin: 1vw;
    font-size: 2.75vh;
    text-decoration: none;
    color: #E5E9F0;
    transition: color 1s;
}

#landingPage {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

#typeAnm {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F1FAEE;
    font-size: 5vh;
    
}

#typeAnm h1 {
    margin-bottom: 6vh;
}

#landImage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landImage img {
    display: flex;
    width: 50%;
    border-radius: 50%;
}

/*PseudoClasses*/

nav ul li a:hover {
    color: #e63946;
}